In [ ]:
# verification of type of list and array
import numpy as np
lst1=[12,13,1,4,15,16]
array=np.array(lst1)
print(type(lst1))
print(type(array))

<class 'list'>
<class 'numpy.ndarray'>

implementation of basic data structures using Numpy and Pandas

In [ ]:
#creation of list using Numpy
import numpy as np
lst1=[10,11,12,13,14,15]
print("the list is",lst1)

the list is [10, 11, 12, 13, 14, 15]

In [ ]:
#creation of array using Numpy
import numpy as np
lst1=[10,111,12,13,14,156]
arr1=np.array(lst1)
arr2=np.array([1,2,3,4,5,6])
print("The first array is",arr1)
print("The second array is",arr2)

The first array is [ 10 111  12  13  14 156]
The second array is [1 2 3 4 5 6]

In [ ]:
# Implementation of mathematical operations of arrays
arr1=np.array([10,11,12,13,14,15])
arr2=np.array([100,200,300,400,500,600])
arr3=arr1*arr2
arr4=arr1/arr2
arr5=arr2**arr1
arr6=arr1*arr2
print("The product array is",arr3)
print("The divided array is",arr4)
print("The power off array is",arr5)
print("The another power off array is",arr6)

The product array is [1000 2200 3600 5200 7000 9000]
The divided array is [0.1    0.055  0.04   0.0325 0.028  0.025 ]
The power off array is [ 7766279631452241920   454253960476229632  7257836327071121408
  5444851949490929664  8958380283753660416 -5713836474110050304]
The another power off array is [1000 2200 3600 5200 7000 9000]

In [ ]:
# Implementation of Addition between to arrays
import numpy as np
Age1=np.array([10,20,30,40,50])
Age2=np.array([15,25,35,45,55])
NewAge=Age1+Age2
print("The resultant age is", NewAge)

The resultant age is [ 25  45  65  85 105]

In [ ]:
#Demonstration of enire age list of a factory employee
import numpy as np
ages = np.array([22,46,72,73,63,61,66,69,54,23,25,30,40,45,50,55,60,65,70,75])
senior = ages[ages >= 60]
younger = ages[ages < 60]
print("Senior employees:", senior)
print("Younger employees:", younger)

Senior employees: [72 73 63 61 66 69 60 65 70 75]
Younger employees: [22 46 54 23 25 30 40 45 50 55]

In [ ]:
#Demonstration of sin,cos,tan,log,exp,log2 of a list
import numpy as np
lst1=[10,20,30,40,50]
arr1=np.array(lst1)
arr2=np.sin(arr1)
arr3=np.cos(arr1)
arr4=np.tan(arr1)
arr5=np.log(arr1)
arr6=np.log2(arr1)
arr7=np.exp(arr1)
print("The sin array is",arr2)
print("The cos array is",arr3)
print("The tan array is",arr4)
print("The logarithmic array is",arr5)
print("The log2 array is",arr6)
print("The exponential array is",arr7)

The sin array is [-0.54402111  0.91294525 -0.98803162  0.74511316 -0.26237485]
The cos array is [-0.83907153  0.40808206  0.15425145 -0.66693806  0.96496603]
The tan array is [ 0.64836083  2.23716094 -6.4053312  -1.11721493 -0.27190061]
The logarithmic array is [2.30258509 2.99573227 3.40119738 3.68887945 3.91202301]
The log2 array is [3.32192809 4.32192809 4.9068906  5.32192809 5.64385619]
The exponential array is [2.20264658e+04 4.85165195e+08 1.06864746e+13 2.35385267e+17
 5.18470553e+21]

In [ ]:
#Visualization of Scatter plot of a set of healthcare data
patients=['ann','ram','sita','ravan','andrew','ashish','satwik','santhosh','sreeja','koushik']
Age=[21,20,22,23,19,18,20,]